<div class="wrapper">  
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO</h1>
        </div>
    </div>
    <nav class="navbar navbar-top navbar-expand-lg" style="background-color: #13245E;">
        <div class="navbar-collapse justify-content-end">
            <button class="btn btn-custom-color" (click)="cerrarMensaje()">
                <i class="fas fa-arrow-left"></i> Atrás
              </button>
          </div> 
    </nav>

    <div class="content container py-4">
                <div class="row">
                    <!-- Columna Izquierda -->
                    <div class="col-md-6 col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <form class="scrollable-form">
                            <div class="form-group">
                                <label for="propuesta">Tipo de propuesta<span class="required">*</span></label>
                                <select class="form-control" id="propuesta" name="_propuesta" [(ngModel)]="proceso.tipo" (change)="tipoDePropuestaSeleccionado()">
                                    <option value="Trabajo de investigación">Trabajo de investigación</option>
                                    <option value="Práctica profesional">Práctica profesional</option>
                                </select>
                                
                            </div>
                            <div class="form-group">
                                <label for="estudiante1">Estudiante 1<span class="required">*</span></label>
                                <input type="text" class="form-control" id="estudiante1" name="_estudiante1" placeholder="Nombre estudiante" [(ngModel)]="nombres[0]" [disabled]="true">
                            </div>
                            <div class="form-group">
                                <label for="estudiante2">Estudiante 2</label>
                                <input type="text" class="form-control" id="estudiante2" name="_estudiante2" placeholder="Nombre estudiante" [(ngModel)]="nombres[1]" [disabled]="true">
                            </div>
                            <div class="form-group">
                                <label for="asesor">Asesor<span class="required">*</span></label>
                                <input type="text" class="form-control" id="asesor" name="asesor" [(ngModel)]="proceso.ase" placeholder="Nombre asesor" [disabled]="bloquearAsesor">
                            </div>
                            <div class="form-group">
                                <label for="objetivos">Objetivos<span class="required">*</span></label>
                                <div class="scrollable-textarea">
                                    <textarea class="form-control" id="objetivos" name="_objetivos" [(ngModel)]="formato._objetivos" placeholder="Objetivos"></textarea>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label for="con_entrega">Condiciones de entrega <span class="required">*</span></label>
                                <div class="scrollable-textarea">
                                    <textarea type="text" class="form-control" id="con_entrega" name="_con_entrega" [(ngModel)]="formato._con_entrega" placeholder="Condiciones"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="realizacion">Tiempo estimado de realización<span class="required">*</span></label>
                                <input type="text" class="form-control" id="realizacion" name="_realizacion" [(ngModel)]="formato._realizacion" placeholder="Tiempo estimado">
                            </div>    
                        </form>
                    </div>
                    
                    <!-- Columna Derecha -->
                    <div class="col-md-6">
                        <form class="scrollable-form">
                            <div class="form-group">
                                <label for="titulo">Título<span class="required">*</span></label>
                                <input type="text" class="form-control" id="recursos" name="_recursos"  placeholder="Título" [(ngModel)]="proceso.titulo">
                            </div>
                            <div class="form-group">
                                <label for="codEstudiante1">Código estudiante 1<span class="required">*</span></label>
                                <input type="text" class="form-control" id="codEstudiante1" name="objetivos" placeholder="Código estudiante" [(ngModel)]="proceso.estudiantes[0]" list="estudiante_1" (input)="actualizarEstudiante(0)">
                                <datalist id="estudiante_1">
                                    <option *ngFor="let estudiante of estudiantes; let i = index" value = {{estudiantes[i]._codigo}}  ></option>
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="codEstudiante2">Código estudiante 2</label>
                                <input type="text" class="form-control" id="codEstudiante2" name="_objetivos" placeholder="Código estudiante" [(ngModel)]="proceso.estudiantes[1]" [disabled]="bloquearEstudiante2" list="estudiante_2" (input)="actualizarEstudiante(1)">
                                <datalist id="estudiante_2">
                                    <datalist id="estudiante_2">
                                        <option *ngFor="let estudiante of estudiantes2; let i = index" value = {{estudiantes2[i]._codigo}}  ></option>
                                    </datalist>

                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="recursos">Recursos requeridos<span class="required">*</span></label>
                                <div class="scrollable-textarea">
                                    <textarea type="text" class="form-control" id="recursos" name="_recursos" [(ngModel)]="formato._recursos" placeholder="Recursos"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="financiacion">Definición de fuentes de financiación<span class="required">*</span></label>
                                <div class="scrollable-textarea">
                                    <textarea type="financiacion" class="form-control" id="financiacion" name="_financiacion" [(ngModel)]="formato._financiacion" placeholder="Financiación"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="_interes">Aportes o contribución a las líneas de investigación <span class="required">*</span></label>
                                <div class="scrollable-textarea">
                                    <textarea type="text" class="form-control" id="_interes" name="_interes" [(ngModel)]="formato._interes" placeholder="Temas de interes"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
        </div>
        <div class="Botón-crear">
            <button class="btn btn-custom" (click)="validarYGuardar()" >Guardar</button>
        </div>
        <app-modal
            [showModal]="showModal"
            [modalTitle]="modalTitle"
            [modalMessage]="modalMessage"
            [modalImagen] = "modalImage"
            [navegacion] = "navegacion"
        ></app-modal>    

    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
    
    
