.cabecera {
  background-color: #F8F8F8;
  width: 100%;
  height: 15vh;
  /* Cambia la altura según tus preferencias */
  display: flex;
  align-items: center;
  padding: 10px;
}

.icono-izquierda {
  width: auto;
  /* Establece el ancho de la imagen como un porcentaje del ancho de la cabecera */
  max-height: 100%;
  /* Limita la altura de la imagen al 100% de la altura de la cabecera */
}

.titulo-pagina {
  flex: 1;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 24px;
    /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

/*Navbar*/
.btn-custom-color {
  background-color: #D67E18;
  color: #fff;
  /* Color del texto, si es necesario */
}

.btn-custom-color:hover {
  background-color: #FFA500;
  /* Cambiar el color al pasar el ratón, si lo deseas */
}

.titulo-pagina h1 {
  color: #525663;
}

.titulo {
  color: #525663;
}

/**/
.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 15px;
  margin-left: 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #FFA500;
  /* Cambia el color al pasar el ratón, si lo deseas */
  cursor: pointer;
}

.nav-link i {
  margin-right: 5px;
  /* Espacio entre el icono y el texto */
}

@media (max-width: 768px) {
  .divider {
    display: none;
  }
}

/*carga*/
.file-upload-container {
  border: 2px dashed #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  max-width: 50%;
  margin: 0 auto;
  transition: border 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Agrega sombra */
}

.file-upload-container:hover {
  border: 2px dashed #aaa;
}

.file-upload-icon {
  font-size: 40px;
  color: #13245E;
}

.file-upload-text {
  margin-top: 10px;
}

.upload {
  display: none;
}

/*botones*/
.btn-subir {
  background-color: #13245E;
  color: #F8F8F8;
  margin: 10px;
  /* Espacio superior para separar el botón del formulario */
  margin-top: 20px;
}

.btn-subir:hover {
  transform: scale(0.9);
  transition: all .3s;
}

.btn-cancelar:hover {
  transform: scale(0.9);
  transition: all .3s;
}

.btn-cancelar {
  background-color: #4D4D4D;
  color: #F8F8F8;
  margin: 10px;
  /* Espacio superior para separar el botón del formulario */
  margin-top: 20px;
}

.Botón-subir {
  align-items: center;
  justify-content: center;
  display: flex;
}

/*Footer*/
#footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 10px;
  background: #D67E18;
  height: 50px;
}

.imagen-con-textoF {
  display: flex;
  align-items: center;
}

.texto-con-lineaF {
  display: flex;
  align-items: center;
}

.texto-con-lineaF {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  /* Tamaño de fuente deseado */
  color: aliceblue;
  margin-left: 20px;

}

.texto-con-lineaF span {
  padding-left: 15px;
  margin-right: 10px;
  /* Ajusta el espacio entre el texto y la línea vertical */

}

.linea-verticalF {
  border-right: 2px solid rgb(255, 255, 255);
  padding-right: 15px;
  /* Añade espacio entre la línea y el texto */
  margin-right: 15px;

}

.footer-con-imagen {
  padding-left: 10px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}