<div class="wrapper">
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Jefatura </h1>
        </div>
    </div>
    <nav class="navbar navbar-top navbar-expand-lg" style="background-color: #13245E;">
        <button class="btn btn-custom-color" (click)="iratras()">
            <i class="fas fa-arrow-left"></i> Atrás
          </button>
      </nav>
    <div class="container py-4">
        <h1 class="titulo">Registros de anteproyectos</h1>
        <br>
        <div class="table-responsive ">
            <table class="table table-striped rounded">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Título</th>
                        <th>Estudiantes</th>
                        <th>Estado</th>
                        <th>N° Revisión</th>
                        <th>Acciones</th>
                        <th>Asignar evaluadores</th>
                    </tr>
                </thead>
                <tbody>

                        <ng-container *ngFor="let revision of revisiones; let i = index">
                            <tr>
                            <td>{{revision.id}}</td>
                            <td>{{revision.tipo}}</td>
                            <td>{{revision.titulo}}</td>
                            <td>
                                <ul>
                                    <li *ngFor="let estudiante of revision.estudiantes">{{estudiante.nombre}}</li>
                                </ul>
                            </td>
                            <td>{{getEstado(revision.estado)}}</td>
                            <td>{{revision.no_revision}}</td>
                            <td>
                                <div class="button-container">
                                <button (click)="descargarAnteproyecto(revision.estudiantes[0].codigo, revision.estudiantes[0].nombre)" class="btn btn-primary" name = "Descargar_formato" title="Descargar">
                                    <i class='fas fa-download'></i>
                                </button>                               
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success" (click)="irEvaluadores(revision.id)" title="Agregar" name="agregar" style="margin-left: 5px;">
                                    <i class="fas fa-plus"></i> 
                                </button>
                            </td>
                          </tr>
                        </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <app-modal
      [showModal]="showModal"
      [modalTitle]="modalTitle"
      [modalMessage]="modalMessage"
      [modalImagen] = "modalImage"
      [navegacion] = "navegacion"
  ></app-modal>

    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>


