<div class="wrapper">  
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda"  style="cursor: pointer;">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Director</h1>
        </div>
    </div>
    <nav class="navbar navbar-top navbar-expand-lg" style="background-color: #13245E;">
        <div class="container-fluid d-flex justify-content-between">
            <button class="btn btn-custom-color" >
                <i class="fas fa-arrow-left"></i> Atrás
            </button>
        </div>
    </nav>
    <app-header></app-header>
    <div class="content container py-4">
                <div class="row">
                    <!-- Columna Izquierda -->
                    <div class="col-md-6 col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <form class="scrollable-form">
                            <div class="form-group">
                                <label for="propuesta">Titulo<span class="required">*</span></label>
                                <select class="form-control" id="propuesta" name="_propuesta" >
                                    <option value="Trabajo de investigación">Trabajo de investigación</option>
                                    <option value="Práctica profesional">Práctica profesional</option>
                                </select>
                                
                            </div>
                            <div class="form-group">
                                <label for="codEstudiante1">Codigo1 <span class="required">*</span></label>
                                <input type="text" class="form-control" id="codEstudiante1" name="objetivos" placeholder="Código estudiante" >
                                <datalist id="estudiante_1">
                                   <!--<option *ngFor="let estudiante of estudiantes; let i = index" value = {{estudiantes[i]._codigo}}  ></option>--> 
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="codEstudiante1">Codigo 2<span class="required">*</span></label>
                                <input type="text" class="form-control" id="codEstudiante1" name="objetivos" placeholder="Código estudiante" >
                                <datalist id="estudiante_1">
                                   <!--<option *ngFor="let estudiante of estudiantes; let i = index" value = {{estudiantes[i]._codigo}}  ></option>-->
                                </datalist>
                            </div>
                            
                           
                            <div class="form-group">
                                <label for="asesor">Asesor<span class="required">*</span></label>
                                <input type="text" class="form-control" id="asesor" name="asesor" placeholder="Nombre asesor" >
                            </div>
                    
                            <div class="form-group">
                                <label for="con_entrega">Linea de desarrollo <span class="required">*</span></label>
                                <div class="scrollable-textarea">
                                    <textarea type="text" class="form-control" id="con_entrega" name="_con_entrega"  placeholder="Condiciones"></textarea>
                                </div>
                            </div>
                             
                        </form>
                    </div>
                    
                    <!-- Columna Derecha -->
                    <div class="col-md-6">
                        <form class="scrollable-form">
                            <div class="form-group">
                                <label for="titulo">Director<span class="required">*</span></label>
                                <input type="text" class="form-control" id="recursos" name="_recursos"  placeholder="Título">
                            </div>
                            <div class="form-group">
                                <label for="estudiante1">Estudiante 1<span class="required">*</span></label>
                                <input type="text" class="form-control" id="estudiante1" name="_estudiante1" placeholder="Nombre estudiante">
                            </div>
                            <div class="form-group">
                                <label for="estudiante2">Estudiante 2</label>
                                <input type="text" class="form-control" id="estudiante2" name="_estudiante2" placeholder="Nombre estudiante">
                            </div>
                            
                            <div class="form-group">
                                <label for="realizacion">Observaciones<span class="required">*</span></label>
                                <input type="text" class="form-control" id="realizacion" name="_realizacion"  placeholder="Tiempo estimado">
                            </div> 
                       
                        </form>
                    </div>
                    
                </div>
        </div>
        <div class="Botón-crear">
            <button class="btn btn-custom" >Guardar</button>
        </div>
        <!--<app-modal
            [showModal]="showModal"
            [modalTitle]="modalTitle"
            [modalMessage]="modalMessage"
            [modalImagen] = "modalImage"
            [navegacion] = "navegacion"
        ></app-modal>    
        -->
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
    
    
