<div class="wrapper">  
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda"  style="cursor: pointer;">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Jefatura</h1>
        </div>
    </div>
    <nav class="navbar navbar-top navbar-expand-lg" style="background-color: #13245E;">
        <div class="container-fluid d-flex justify-content-between">
            <button class="btn btn-custom-color" (click)="iratras()">
                <i class="fas fa-arrow-left"></i> Atrás
            </button>
        </div>
    </nav>
    <app-header></app-header>
    <div class="content container py-4">
        <h1 class="titulo">Llenar formato C</h1>
        <form class="scrollable-form">

                <div class="form-group">
                    <input type="checkbox" id="propuesta1" name="propuesta1" (change)="actualizarFormato('estructura')">
                    <label for="propuesta1">ESTRUCTURA (¿Consta de las partes pertinentes?)<span class="required">*</span></label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="propuesta2" name="propuesta2" (change)="actualizarFormato('con_comite')">
                    <label for="propuesta2">CONCEPTO DEL COMITÉ DE PROGRAMA (¿Fue satisfactorio?)<span class="required">*</span></label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="propuesta3" name="propuesta3" (change)="actualizarFormato('con_depto')">
                    <label for="propuesta3">CONCEPTO DEL DEPARTAMENTO (¿Fue satisfactorio?)<span class="required">*</span></label>
                </div>

                <label for="propuesta1">PRESENTACION Y APORTES (¿Están indicados con claridad?)<span class="required">*</span></label>
                <input type="text" class="form-control" id="desarrollo" name="desarrollo" placeholder="Linea de desarrollo" [(ngModel)]="formato.desarrollo" >
                
                <label for="propuesta">Observaciones</label>
                <textarea class="form-control" id="observaciones" name="observaciones" placeholder="Escribe observaciones" [(ngModel)]="formato.observaciones" ></textarea>
            
        </form>    
        </div>
        <div class="Botón-crear">
            <button class="btn btn-custom" (click)="crearFormatoC()">Guardar</button>
        </div>
        <app-modal
            [showModal]="showModal"
            [modalTitle]="modalTitle"
            [modalMessage]="modalMessage"
            [modalImagen] = "modalImage"
            [navegacion] = "navegacion"
        ></app-modal>    
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
    
    
