/* login.component.css */


  .login-container {
    background-size: 90% 90%;
    background-image: url('../../../assets/Fac_Cien_Hum_Soc01.jpg') ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    height: 95.91vh;
    margin: 0;
    position:relative; /* Añadido para posicionar correctamente el contenido sobre el fondo */
  }


.left-container {
    flex: 1;
    background-color: white;
    position: relative;
    height: 60%;
    width: 10%; /* Ajusta el ancho según sea necesario */
    text-align: center;
    margin-left: 20%;
  
}

.logo {
    width: 30%; 
    height: auto;
    display: block;
    margin-left: 10pc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.grado {
    margin-top: 10%;
    width: 20%; 
 
}
.bottom-text {
    color: #13245E;
    margin-top: 70%;
}


.right-container {
    flex: 1;
    background-color: #13245E;
    color: white;
    height: 60%;
    box-sizing: border-box;
    margin-right: 20%;
    text-align: center;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login-form input {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin: 10px;;
    box-sizing: border-box;
}

.login-form button {
    width: 40%;
    padding: 10px;
    background-color: #D67E18;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Footer*/
#footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    background: #D67E18;
    height: 40px;
}
.imagen-con-textoF{
    display: flex;
    align-items: center;
}
.texto-con-lineaF{
    display: flex;
    align-items: center;
}
.texto-con-lineaF{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 14px; /* Tamaño de fuente deseado */
    color: aliceblue;
    margin-left: 20px;
    
}
.texto-con-lineaF span{
    padding-left: 15px;
    margin-right: 10px; /* Ajusta el espacio entre el texto y la línea vertical */
    
}
.linea-verticalF {
    border-right: 2px solid rgb(255, 255, 255);
    padding-right: 15px; /* Añade espacio entre la línea y el texto */
    margin-right: 15px; 

}
.footer-con-imagen {
    padding-left: 10px;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.table.rounded {
border-radius: 30px; /* Ajusta el valor según el nivel de redondeo deseado */
overflow: hidden; /* Oculta cualquier contenido que se salga de los bordes redondos */
}

@media screen and (max-width: 768px) {
    .left-container {
        width: 30%;
        margin-left: 15%;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .logo {
        width: 100%;
        margin-left: 0;
        top: 20%; 
        transform: translateY(-50%);
    }

    .grado {
        width: 40%; 
        margin-top: 10%;
    }
    .bottom-text {
        margin-top: 20%; 
    }

    .right-container {
        margin-right: 15%;
    }
    .login-form{
        margin-top: 20%;
    }
    .login-form input,
    .login-form button {
        width: 100%;
    }
}
