<div class="wrapper">
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Director</h1>
        </div>
    </div>
    <nav class="navbar navbar-top navbar-expand-lg" style="background-color: #13245E;">
      <button class="btn btn-custom-color" (click)="iratras()">
        <i class="fas fa-arrow-left"></i> Atrás
      </button>
        <div class="navbar-collapse justify-content-end">
          <button class="btn btn-custom-color" (click)="irSubirFormato()" type="button">
            Subir formato <i class="fas fa-upload"></i>
          </button>
        </div>
      </nav>
      <app-header></app-header>
    <div class="container py-4">
      <h1 class="titulo">Formatos A</h1>
      <div class="table-responsive ">
        <table class="table table-striped rounded">
            <thead>
                <tr>
                    <th>Tipo Formato</th>
                    <th>Título</th>
                    <th>Fecha</th>
                    <th>Tiempo estimado de realización</th>
                    <th>Enviar formato jefatura</th>
                    <th>Descargar comentarios</th>
                    <th>Descargar formato B</th>
                </tr>
              </thead>
            <tbody>
             
                <tr>
                  <td> A </td>
                  <td>{{proceso.titulo}}</td>
                  <td>{{formato._recibido | date:'shortDate'}}</td>
                  <td>{{formato._realizacion}}</td>
                  <td>
                    <button class="btn btn-enviar" (click)="enviarFormatoJefatura()" title="Enviar">Enviar</button>
                  </td>
                  <td>
                    <div class="button-container">
                      <button (click)="descargarComentario(proceso.estudiantes[0])" class="btn btn-primary" name = "Descargar_formato" title="Descargar">
                          <i class='fas fa-download'></i> Comentarios
                      </button>                               
                      </div>
                  </td>
                  <td>
                    <div class="button-container">
                      <button (click)="descargarFormatoB(proceso.id)" class="btn btn-custom" name = "Descargar_formato" title="Descargar">
                          <i class='fas fa-download'></i> Fomato B
                      </button>                               
                      </div>
                  </td>
                </tr>
             
        </tbody>
                  
        </table>
    </div>
    </div>
    <app-modal
            [showModal]="showModal"
            [modalTitle]="modalTitle"
            [modalMessage]="modalMessage"
            [modalImagen] = "modalImage"
            [navegacion] = "navegacion"
        ></app-modal>
  
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  

