<div class="wrapper">
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Jefatura</h1>
        </div>
    </div>
    <nav class="navbar navbar-top navbar-expand-lg" style="background-color: #13245E;">
        <button class="btn btn-custom-color" (click)="iratras()">
            <i class="fas fa-arrow-left"></i> Atrás
          </button>
      </nav>
  
    <div class="container py-4">
        <h1 class="titulo">Asignar evaluadores</h1>
        <br>
        <div class="contenedor-asignar">
            <button (click)= "asignarEvaluadores()" class="btn btn-custom">Asignar  <i class="fas fa-plus"></i></button>
        </div>
        <div class="table-responsive ">
            <table class="table table-striped rounded">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Seleccionar</th>
                    </tr>
  
                </thead>
                <tbody>
                    <ng-container *ngFor="let evaluador of evaluadores" class="checkbox-item">
                        <tr>
                          <td>{{evaluador.codigo}}</td>
                          <td>{{evaluador.nombre}}</td>
                          <td>{{evaluador.correo}}</td>
                          <td>
                            <input type="checkbox"
                                id="evaluador_{{evaluador.codigo}}"
                                (change)="toggleEvaluadorSelection(evaluador)" style="width: 20px; height: 20px; border-radius: 20px;border-width: 2px;">
                          </td>
                        </tr>
                      </ng-container>
                  </tbody>
            </table>
        </div>
    </div>
    <app-modal
      [showModal]="showModal"
      [modalTitle]="modalTitle"
      [modalMessage]="modalMessage"
      [modalImagen] = "modalImage"
      [navegacion] = "navegacion"
  ></app-modal>
      
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  