
.respmenu a {
  color: #FFA500; /* Color del texto */
  text-decoration: underline; /* Subrayar al pasar el cursor */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el texto */
  overflow: hidden;
  transform: translateY(-50%);

}

.itemcito {
  margin-right: 20px; /* Ajusta el espaciado entre los elementos si es necesario */
}



  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
  }
  .respmenu nav ul li.itemcito:hover a {
    color: orange; /* Cambia el color al pasar el cursor sobre el enlace */
  }

  .itemcito a {
    text-decoration: none;
    color: white;/* Cambia el color del texto a blanco */
    text-align: center; /* Centra el texto horizontalmente */
  }
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 24px;
    pointer-events: none;
  }

  .respmenu input[type="checkbox"] {
    opacity: 0;
  }

  .respmenu {
    color: white;
    position: relative;
    background: #13245E;
    min-height: 24px;
  }
  .respmenu nav ul li:not(:last-child)::after {
    margin: 5%;
  }


  .respmenu nav {
    display: none;
  }

  .respmenu input:checked ~ nav {
    display: block;
  }

  .respmenu input:checked ~ .fa-bars {
    display: none;
  }

  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }


.respmenu nav ul li a{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap; /* Evita que el texto se divida en líneas */

}
.respmenu nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}



