
  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }
  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 24px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    background: #13245E;
    min-height: 24px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
  
  .respmenu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.respmenu nav ul li a{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}