<div class="wrapper">  
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1>GESTIÓN DE TRABAJOS DE GRADO</h1>
        </div>
    </div>
    <div class="navbar-top">
        
    </div>
    <div class="container py-4">
        <div class="contenedor-crear">
            <button class="btn btn-custom">Crear  <i class="fas fa-plus"></i></button>
        </div>
        <div class="table-responsive ">
            <table class="table table-striped rounded">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                        <td>101</td>
                        <td>Carlos</td>
                        <td>Ardila</td>
                        <td>cardila</td>
                        <td>prueba</td>
                        <td>prueba</td>
                    </tr>
                    <tr>
                        <td>102</td>
                        <td>Erwin</td>
                        <td>Mesa</td>
                        <td>ermesa</td>
                        <td>prueba</td>
                        <td>prueba</td>
                    </tr>
                    <tr>
                        <td>103</td>
                        <td>Jimena</td>
                        <td>Timana</td>
                        <td>jitima</td>
                        <td>prueba</td>
                        <td>prueba</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
</div>
