<div class="wrapper">
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Evaluador</h1>
        </div>
    </div>
    <nav class="navbar navbar-top navbar-expand-lg" style="background-color: #13245E;">
        <button class="btn btn-custom-color" (click)="iratras()">
          <i class="fas fa-arrow-left"></i> Atrás
        </button>
    </nav>
    <app-header></app-header>
    <div class="container py-4">
        <h1 class="titulo">Llenar formato B</h1>
        <form class="scrollable-form">
            <div class="form-group">
                <input type="checkbox" id="propuesta1" name="propuesta1" (change)="actualizarFormato('aportes')">
                <label for="propuesta1">PRESENTACION Y APORTES (¿Están indicados con claridad?)<span class="required">*</span></label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="propuesta2" name="propuesta2" (change)="actualizarFormato('objetivos')">
                <label for="propuesta2">OBJETIVOS (Establecidos claramente?)<span class="required">*</span></label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="propuesta" name="propuesta3" (change)="actualizarFormato('metodologia')">
                <label for="propuesta">METODOLOGÍA (Se indica explícitamente?)<span class="required">*</span></label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="propuesta" name="propuesta4" (change)="actualizarFormato('entrega')">
                <label for="propuesta">CONDICIONES DE ENTREGA (Se establecen claramente?)<span class="required">*</span></label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="propuesta" name="propuesta6" (change)="actualizarFormato('cronograma')">
                <label for="propuesta">CRONOGRAMA (se indica en forma clara y completa?)<span class="required">*</span></label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="propuesta" name="propuesta7" (change)="actualizarFormato('patrocinio')">
                <label for="propuesta">PATROCINIO (existe?)<span class="required">*</span></label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="propuesta" name="propuesta8" (change)="actualizarFormato('concepto')">
                <label for="propuesta">Se aprueba el anteproyecto?</label>
            </div>
            <label for="propuesta">Observaciones</label>
            <textarea class="form-control" id="observaciones" name="observaciones" placeholder="Escribe observaciones" [(ngModel)]="formato.observaciones"></textarea>
            
        </form>
    </div>
    <div class="Botón-crear">
        <button class="btn btn-cancelar" (click)="crearFormatoB()">Guardar</button>
        <button *ngIf="controlEnviar === true" (click)="enviarDirector()" class="btn btn-guardar" >Enviar director</button>
    </div>
    <app-modal
            [showModal]="showModal"
            [modalTitle]="modalTitle"
            [modalMessage]="modalMessage"
            [modalImagen] = "modalImage"
            [navegacion] = "navegacion"
        ></app-modal>   
  
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  