<div class="wrapper">
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO</h1>
        </div>
    </div>
    <div class="navbar-top"></div>
    <div class="container py-4">
        <div class="table-responsive ">
            <table class="table table-striped rounded">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Título</th>
                        <th>Estudiantes</th>
                        <th>Estado</th>
                        <th>N° Revisión</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let revision of revisiones; let i = index">
                            <td>{{revision.id}}</td>
                            <td>{{revision.tipo}}</td>
                            <td>{{revision.titulo}}</td>
                            <td>
                                <ul>
                                    <li *ngFor="let estudiante of revision.estudiantes">{{estudiante.nombre}}</li>
                                </ul>
                            </td>
                            <td>{{getEstado(revision.estado)}}</td>
                            <td>{{revision.no_revision}}</td>
                            <td>
                                <div class="button-container">
                                <button (click)="descargarFormatoA(revision.estudiantes[0].codigo, revision.estudiantes[0].nombre)" class="btn btn-primary" name = "Descargar_formato" title="Descargar">
                                    <i class='fas fa-download'></i>
                                </button>
                                <button (click)="aprobarFormato()" class="btn btn-success" title="Aprobar formato" name = "aprobar_formato" style="margin-left: 5px;">
                                    <i class="fas fa-check"></i>
                                </button>
                                </div>
                            </td>

                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>






















    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>

