.cabecera {
    background-color: #F8F8F8;
    width: 100%;
    height: 15vh;/* Cambia la altura según tus preferencias */
    display: flex;
    align-items: center;
    padding: 10px;
}

.icono-izquierda {
    width: auto; /* Establece el ancho de la imagen como un porcentaje del ancho de la cabecera */
    max-height: 100%; /* Limita la altura de la imagen al 100% de la altura de la cabecera */
}

.titulo-pagina {
    flex: 1;
    padding-left: 10px;
}

.titulo-pagina h1{
    color: #525663;
}
@media (max-width: 768px) {
  .titulo {
      font-size: 24px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}
/*imagen*/
.imagen-superpuesta {
    position: relative;
    width: 100%;
    height: 30vh; /* Ajusta la altura como desees */
    overflow: hidden;
    margin-bottom: 50px;
}
.imagen-superpuesta img {
    width: 100%;
    height: 100%;
}
.contenido-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Color del texto */
}

.contenido-superpuesto img {
    width: 100px; /* Ajusta el ancho del icono como desees */
    height: 100px; /* Ajusta el alto del icono como desees */
    /* Estilos adicionales para el icono si es necesario */
}

.contenido-superpuesto p {
    font-size: 24px; /* Ajusta el tamaño del mensaje como desees */
    margin-top: 5px;
    /* Otros estilos para el mensaje */
}
/*tarjetas*/
.bloque {
  margin-top: 50px;
  display: flex; /* Cambiado a flex para usar justify-content y align-items */
  justify-content: center;
  align-items: center;
  margin: 20px; /* Ajusta el margen según sea necesario */
  text-align: center;
  border: 2px solid #ccc; /* Agrega un borde de 2 píxeles sólido con color gris claro */
  padding: 10px; /* Agrega un relleno interno de 10 píxeles */
  border-radius: 20%;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajusta los valores según sea necesario */
}

.icono-bloque {
  width: 100px; /* Ajusta el tamaño del icono según sea necesario */
  margin-top: 20px;
}

.bloque p {
  margin-top: 10px; /* Ajusta el margen superior del párrafo según sea necesario */
  font-size: 20px;
}
.bloque:hover {
  transform: scale(0.9);
  transition: all .3s;
  cursor: pointer;
}
/*Footer*/
#footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    background: #D67E18;
    height: 50px;
  }
  .imagen-con-textoF{
    display: flex;
    align-items: center;
  }
  .texto-con-lineaF{
    display: flex;
    align-items: center;
  }
  .texto-con-lineaF{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 14px; /* Tamaño de fuente deseado */
    color: aliceblue;
    margin-left: 20px;
    
  }
  .texto-con-lineaF span{
    padding-left: 15px;
    margin-right: 10px; /* Ajusta el espacio entre el texto y la línea vertical */
    
  }
  .linea-verticalF {
    border-right: 2px solid rgb(255, 255, 255);
    padding-right: 15px; /* Añade espacio entre la línea y el texto */
    margin-right: 15px; 
  
  }
  .footer-con-imagen {
    padding-left: 10px;
  }
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  