<div class="wrapper">
    <div class="cabecera">
        <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
        <div class="titulo-pagina">
            <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Jefatura</h1>
        </div>
    </div>
    <div class="imagen-superpuesta">
        <img src="assets/fondoJefatura.png" alt="Imagen superpuesta">
        <div class="contenido-superpuesto">
            <img src="assets/user.png" alt="Icono">
            <p>{{usuario}}</p>
        </div>
    </div>
    <div class="container py-4">
        <div class="d-flex flex-wrap justify-content-center">
             <!-- Primer bloque -->
            <div class="bloque" title="Haz clic para ir a anteproyectos" (click)="irAnteproyecto()">
                <div class="contenido">
                    <img src="assets/libros.png" alt="Icono" class="icono-bloque">
                    <p>Anteproyectos</p>
                </div>
            </div>
        
            <!-- Segundo bloque -->
            <div class="bloque" title="Haz clic para ir a los formatos" (click)="irRegistros()">
                <div class="contenido">
                    <img src="assets/contrato.png" alt="Icono" class="icono-bloque">
                    <p>Registros</p>
                </div>
            </div>
    </div>
    
    </div>
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
        <div class="texto-con-lineaF">
            <div class="linea-verticalF">
            <span>
                © 2023 Universidad del Cauca, Inc.
            </span>
            </div>
            <span>Terms Privacy Security</span>
        </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  
