<div class="wrapper">
  <div class="cabecera">
      <img src="assets/escudo.jpg" alt="Icono" class="icono-izquierda">
      <div class="titulo-pagina">
          <h1 class="titulo">GESTIÓN DE TRABAJOS DE GRADO | Administrador</h1>
      </div>
  </div>

  <div class="navbar-top">
  
    <div class="container py-4">
      <div class="row">
        <!-- Columna Izquierda -->
        <div class="col-md-6 col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <form class="scrollable-form">
            <div class="form-group" [ngClass]="{'has-error': identificacionError}">
              <label for="identificacion">Identificación<span class="required">*</span></label>
              <input type="text" class="form-control" id="identificacion" name="_id" [(ngModel)]="usuario_id" placeholder="Identificación" (blur)="validarIdentificacion()">
              <div *ngIf="identificacionError" class="error-message">Error! La identificación debe contener solo dígitos numéricos.</div>
          </div>
              <div class="form-group"[ngClass]="{'has-error': nombreError}">
                  <label for="nombres">Nombre <span class="required">*</span></label>
                  <input type="text" class="form-control" id="nombres" name="_nombre" [(ngModel)]="usuario._nombre" placeholder="Nombres" (blur)="validarNombre()">
                  <div *ngIf="nombreError" class="error-message">Error! El nombre debe contener solo caracteres no numéricos.</div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': correoError}">
                  <label for="correo">Correo<span class="required">*</span></label>
                  <input type="email" class="form-control" id="correo" name="_correo" [(ngModel)]="usuario._correo" placeholder="Correo"(blur)="validarCorreo()">
                  <div *ngIf="correoError" class="error-message">Error! Ingresa un correo válido.</div>
              </div>
          </form>
        </div>

        <!-- Columna Derecha -->
        <div class="col-md-6 col-md-6 col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <form class="scrollable-form">
              <div class="form-group"[ngClass]="{'has-error': usuarioError}">
                  <label for="usuario">Usuario<span class="required">*</span></label>
                  <input type="text" class="form-control" id="usuario" name="_login" [(ngModel)]="usuario._login" placeholder="Usuario"(blur)="validarUsuario()">
                  <div *ngIf="usuarioError" class="error-message">Error! El usuario debe contener solo caracteres no numéricos.</div>
              </div>
              <div class="form-group">
                  <label for="contrasena">Contraseña<span class="required">*</span></label>
                  <input type="password" class="form-control" id="contrasena" name="_password" [(ngModel)]="usuario._password" placeholder="Contraseña">
              </div>
              <div class="form-group checkbox-list"[ngClass]="{'has-error': rolError}">
                  <label for="roles">Roles <span class="required">*</span></label>
                  <div *ngFor="let role of roles" class="checkbox-item">
                      <input type="checkbox" id="role_{{role._id}}" (change)="toggleRoleSelection(role)">
                      <label for="role_{{role._id}}">{{role._nombre}}</label>
                  </div>
                  <div *ngIf="rolError" class="error-message">Debe seleccionar al menos una opción de rol.</div>                  
              </div>
          </form>
        </div>
      </div>
    </div>
  <!-- administrador-crear.component.html -->
    <div class="Botón-crear">
      <button (click)="cancelar()" class="btn btn-cancelar">Cancelar</button>
      <button (click)="guardarUsuario()" class="btn btn-guardar" >Guardar</button>
    </div>
  </div>

    <app-modal
      [showModal]="showModal"
      [modalTitle]="modalTitle"
      [modalMessage]="modalMessage"
      [modalImagen] = "modalImage"
      [navegacion] = "navegacion"
  ></app-modal>

  <div id="footer" class="footer-con-imagen d-none d-md-block" >
    <div class="imagen-con-textoF">
      <div class="texto-con-lineaF">
        <div class="linea-verticalF">
          <span>
            © 2023 Universidad del Cauca, Inc.
          </span>
        </div>
        <span>Terms Privacy Security</span>
      </div>
    </div>
  </div> 
</div>